.popup__btn-close {
  position: fixed;
  top: -40px;
  right: -40px;
  background-image: url("../../../images/Close\ Icon.png");
  background-repeat: no-repeat;
  background-size: 40px;
  box-sizing: border-box;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
}

.popup__btn-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__btn-close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
    background-size: 22px;
  }
}
