.profile__edit-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 0;
  background-image: url("../../../images/Vector\ \(2\).png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 350px) {
  .profile__edit-btn {
    right: 16px;
    top: 6px;
  }
}

.profile__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
