
.popup__container{

    max-width: 358px;
    height: 330px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 4%;
transform: translate(-50%, -50%);
padding-left: 36px;
padding-right: 36px;
}



@media screen and (max-width: 550px){
    .popup__container{
        padding-left: 22px;
        padding-right: 22px;
        max-width: 238px;
        height: 322px;
    }}