.profile__status {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  margin-top: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 350px) {
  .profile__status {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}
