.popup__container-delete {
  padding-left: 33px;
  height: 100px;
  width: 155px;
  border-radius: 50% 20% / 10% 60%;
  position: fixed;
  right: 44%;
  top: 38%;
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 50px 50px;
  gap: 2px;
  z-index: 2;
  background-color: rgb(47, 58, 87);
}

@media screen and (max-width: 1000px) {
  .popup__container-delete {
    right: 0px;
  }
}
