.popup__container-photo {
  max-width: 75vw;
  max-height: 75vh;
  /* background-color: blanchedalmond; */
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  /* padding-left: 36px;
padding-right: 36px; */
}
